<%= form_with model: @participant, local: true do |form| %>
    <p>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </p>
   
    <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
    </p>
    <p>
        <%= form.label :participanttype %><br>
        <%= form.radio_button :participanttype, 'Interviewee' %> Interviewee <br />
        <%= form.radio_button :participanttype, 'Interviewer' %> Interviewer <br />
    </p>
    <p>
        <%= form.label :resume %><br>
        <%= form.file_field :resume %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>